//
// Typography
//

@at-root html {
  @extend .type-base;

  body {
    color: var(--color-black);
    font-kerning: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-stack-primary;
  }
}
