<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Frontend template</title>
    <link rel="stylesheet" href="./../dist/css/main.css" />
  </head>
  <body class="p-home">
    <!-- Nav -->
    <nav class="c-nav nav fixed w-full">
      <div class="container p-0">
        <div class="row justify-content-between">
          <a class="navbar-brand w-20" href="#">
            <img src="./../dist/img/logo-pilsen-callao.png" alt="Pilsen Callao">
          </a>
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Etiquetas</a>
            <a class="nav-item nav-link" href="#">Conócenos</a>
            <a class="nav-item nav-link" href="#">Regístrate</a>
            <a class="nav-item nav-link" href="#">Facebook</a>
            <a class="nav-item nav-link" href="#">Twitter</a>
            <a class="nav-item nav-link" href="#">Youtube</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Nav -->
    <!-- Contenido banner -->
    <main class="h-screen">
      <div class="container-fluid p-0 h-full">
        <div class="row justify-content-around flex-row-reverse align-items-center h-full">
          <div class="col-lg-6">
            <h1>
              DEJAMOS NUESTROS
              <strong>COLORES</strong>
            </h1>
            <h2>para proteger a nuestros patas bodeguer@s</h2>
            <a class="btn btn-primary" href="">conoce más</a>
          </div>
          <div class="col-lg-6 h-full">
            <div class="wrap-slider-images">
              <div>
                <img class="absolute bottom-0 left-0" src="./../dist/img/m-shoopkeeper.png" alt="shoopkeeper">
              </div>
              <div>
                <img class="absolute bottom-0 left-0" src="./../dist/img/w-shoopkeeper.png" alt="shoopkeeper">
              </div>
            </div>
          </div>
        </div>
        <img class="absolute" src="./../dist/img/pilsen-botella-1.png" alt="Pilsen Callao">
      </div>
    </main>
    <!-- Fin contenido Banner-->
    <!-- footer -->
    <footer class="c-footer">
      <div class="container">
        <div class="row justify-content-between">
          <a href="">
            POLÍTICA DE PROTECCIÓN DATOS GLOBAL
          </a>
          <a href="">
            POLÍTICA DE PROTECCIÓN DE DATOS PERÚ
          </a>
          <a href="">
            EJERCICIO DERECHOS ARCO
          </a>
          <a href="">
            HABLEMOS DE ALCOHOL
          </a>
          <a href="">
            ©2019 ANHEUSER-BUSCH INBEV S.A
          </a>
        </div>
      </div>
      <p>TOMAR BEBIDAS ALCOHÓLICAS EN EXCESO ES DAÑINO</p>
    </footer>
    <!-- Fin footer -->
    <!--jQuery-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap 4 -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- Alpine.js -->
    <script
      nomodule
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js"
      defer
    ></script>
    <!-- Custom script -->
    <script src="./../dist/js/vendor.bundle.js"></script>
    <script src="./../dist/js/main.bundle.js"></script>
  </body>
</html>
