<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Pilsen Callao Eiqueta Blanca</title>
    <link rel="stylesheet" href="./../dist/css/main.css" />
  </head>
  <body>
    <main>
      <!-- Header -->
      <header class="fixed-top">
        <nav class="c-navbar navbar navbar-expand-md">
          <div class="container">
            <a href="/" class="navbar-brand">
              <img src="./../dist/img/logo-pilsen-callao.png" alt="Pilsen Callao">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse md:ml-auto md:flex-grow-0" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <strong>Etiquetas</strong>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <strong>Conócenos</strong>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <strong>Regístrate</strong>
                  </a>
                </li>
                <li class="nav-item c-social-media-wrap">
                  <section class="c-social-media">
                    <ul class="c-social-media__list">
                      <li class="c-social-media__list-item w-6 h-6 rounded-full rounded-full text-center">
                        <a href="/" target="_blank" class="c-social-media__link">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                      </li>
                      <li class="c-social-media__list-item w-6 h-6 rounded-full rounded-full text-center mx-2">
                        <a href="/" target="_blank" class="c-social-media__link">
                          <i class="fab fa-twitter"></i>
                        </a>
                      </li>
                      <li class="c-social-media__list-item w-6 h-6 rounded-full rounded-full text-center">
                        <a href="/" target="_blank" class="c-social-media__link">
                          <i class="fab fa-youtube"></i>
                        </a>
                      </li>
                    </ul>
                  </section>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- End Hedder -->
      <!-- Banner -->
      <article class="c-banner bg-primary-500 relative overflow-hidden h-screen">
        <div class="wrap-slider-banner">
          <img src="./../dist/img/m-shoopkeeper.jpg"
            alt="Tendero"
            class="hidden lg:block absolute h-full inset-0 w-full object-cover"
          >
          <img src="./../dist/img/w-shoopkeeper.jpg"
            alt="Tendero"
            class="hidden lg:block absolute h-full inset-0 w-full object-cover"
          >
        </div>
        <div class="container h-100">
          <div class="row h-100 lg:items-center lg:justify-end">
            <div class="c-title-banner col-lg-5 mt-32">
              <h2 class="text-white md:text-center lg:text-left">
                DEJAMOS NUESTROS
              </h2>
              <h1 class="text-white md:text-center lg:text-left">COLORES</h1>
              <h3 class="text-white md:text-center lg:text-left">
                <strong>para proteger a nuestr@s<br>patas bodeguer@s</strong>
              </h3>
              <a
                href="/"
                class="btn btn-primary uppercase text-white"
                >
                <strong>conoce más</strong>
              </a>
            </div>
          </div>
        </div>
        <img src="./../dist/img/pilsen-botella-1.png"
          class="banner__bottle absolute max-h-full"
          alt="Pilsen Callao"
        >
      </article>
      <!-- End Banner -->
      <!-- Footer -->
      <footer class="c-footer fixed-bottom py-2">
        <ul class="c-footer__list lg:flex lg:justify-center m-0">
          <li class="c-footer__item">
            <a href="/">POLÍTICA DE PROTECCIÓN DATOS GLOBAL</a>
          </li>
          <li class="c-footer__item">
            <a href="/">POLÍTICA DE PROTECCIÓN DE DATOS PERÚ</a>
          </li>
          <li class="c-footer__item">
            <a href="/">EJERCICIO DERECHOS ARCO</a>
          </li>
          <li class="c-footer__item">
            <a href="/">HABLEMOS DE ALCOHOL</a>
          </li>
          <li class="c-footer__item">
            <a href="/">©2020 ANHEUSER-BUSCH INBEV S.A</a>
          </li>
        </ul>
        <div class="c-footer__disclaimer mt-1">
          <p class="text-center m-0">TOMAR BEBIDAS ALCOHÓLICAS EN EXCESO ES DAÑINO</p>
        </div>
      </footer>
      <!-- End footer -->
    </main>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/b0a7f78e7d.js" crossorigin="anonymous"></script>
    <!--jQuery-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap 4 -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- Alpine.js -->
    <script
      nomodule
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js"
      defer
    ></script>
    <!-- Custom script -->
    <script src="./../dist/js/vendor.bundle.js"></script>
    <script src="./../dist/js/main.bundle.js"></script>
  </body>
</html>
